@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91; 
    /*#FEFE5B*/
  } 
}

@layer utilities {
  .pause{
    animation-play-state: paused;
  }
}


@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) translateX(50px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100px) translateX(-50px);
    opacity: 0.5;
  }
}
